* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, rgb(3, 3, 87), rgb(60, 3, 107));
    background-attachment: fixed;
}




#cabecalho {
    background: rgba(60, 152, 194, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 100;
    padding: 30px;
}


#menu ul {
    display: flex;
    list-style: none;
    gap: 150px;
    justify-content: center;


    font-size: 23px;

}

#menu li a {
    color: rgb(245, 211, 233);
    text-decoration: none;
    position: relative;

}

#menu li a::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(50, 50, 151), rgb(128, 9, 207));
    transition: width 0.5s ease;
}

#menu li a:hover::after {
    content: '';
    height: 3px;
    width: 100%;
}



#inicio {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#inicio h1 {
    margin-top: 20px;
    color: rgb(228, 95, 183);
    font-size: 30px;

    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-style: normal;

}

#inicio p {
    color: aliceblue;
    font-size: 20px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.container {
    position: relative;
    width: 380px;
    height: 380px;
    animation: flutuar 3s ease-in-out infinite;




}

.container:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;

}

.frente img,
.frente,
.tras,
.tras img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgb(134, 133, 133);

    backface-visibility: hidden;
}

.tras {
    transform: rotateY(180deg);
    background: linear-gradient(rgb(147, 147, 231), rgb(243, 137, 243), rgb(198, 198, 255));
}

#sobre {
    max-height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
}

#sobre h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;

    margin-bottom: 30px;
}

#sobre h2 {
    padding: 60px;
    text-align: center;
    height: 260px;
    border: solid rgb(155, 152, 152) 1px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.03);

    color: aliceblue;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}



#projetos h1 {
    max-height: 100vh;
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: aliceblue;
    text-align: center;

}

.projects-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;

}



.card {
    width: 400px;
    height: 400px;
    color: aliceblue;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(61, 84, 255, 0.055);
    overflow: hidden;
    border: solid rgb(73, 73, 73) 1px;
    transition: all 0.5s ease;
    cursor: pointer;

}

.card:hover {
    box-shadow: 0 10px 20px rgba(77, 2, 252, 0.404);
    transform: translateY(-10px) scale(1.03);

}

.card img {
    width: 100%;
    height: 250px;
}

.card h2 {
    padding: 20px 20px 0 20px;
    font-size: 30px;

}

.card p {
    padding: 15px;
    font-size: 18px;
}

#contatos h1 {
    color: aliceblue;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }
}


#contatos {
    margin-bottom: 50px;
}

#contatos h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: aliceblue;
    text-align: center;

    margin-top: 150px;
    margin-bottom: 50px;
}

@keyframes flutuaricons {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15%);
    }
}


#contatos ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
    animation: flutuaricons 3s ease-in-out infinite;

}

#contatos li {
    width: 80px;
    height: 80px;
    background-color: rgb(20, 18, 18);
    box-shadow: 0 0 10px rgba(255, 192, 203, 0.274);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}

#contatos li:hover {
    width: 180px
}

#contatos li span {
    position: absolute;
}

#contatos li .icon {
    color: aliceblue;
    font-size: 2.2em;
    transition: .3s;
    transition-delay: .1s;
}

#contatos li .text {
    color: aliceblue;
    font-size: 20px;
    transform: scale(0);
    transition: .3s;
}

#contatos li:hover .text {
    transform: scale(1);
}

#contatos li:hover .icon {
    transform: scale(0);

}

#contatos li::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to top right, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;

}

#contatos li:hover::before {
    opacity: 1;
}