* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, rgb(3, 3, 87), rgb(60, 3, 107));
    background-attachment: fixed;
    min-height: 100vh;
}

.fundo {
    position: relative;
    width: 100%;
    height: max-content;
}

.formas {
    justify-content: space-between;
    position: fixed;
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.formas span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.205);
    border: 4px solid linear-gradient(90deg, rgb(50, 50, 151), rgb(128, 9, 207));
    box-shadow: 0 0 20px rgba(0, 198, 248, 0.507);
    animation: anim-fund calc(30s/var(--i)) linear infinite;
    position: relative;

}

@keyframes anim-fund {
    from {
        transform: translateY(100vh) rotate(0deg);
        opacity: 0.5;
    }

    to {
        transform: translateY(-0vh) rotate(720deg);
        opacity: 1;
    }

}

.formas span:nth-last-of-type(even) {
    background: rgba(47, 213, 255, 0.377);
}

#menu {
    display: none;
}

#menu-desk {
    display: block;
}

#cabecalho #menu-desk {
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}

#menu-desk ul {
    display: flex;

    justify-content: center;

    list-style: none;
    gap: 9rem;
    font-size: 1.5rem;
}

#menu-desk li a {
    color: rgb(245, 211, 233);
    text-decoration: none;
    position: relative;

}

#menu-desk li a::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(50, 50, 151), rgb(128, 9, 207));
    transition: width 0.5s ease;
}

#menu-desk li a:hover::after {
    content: '';
    height: 3px;
    width: 100%;
}


#inicio {


    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;

}

#inicio h1 {

    margin-top: 2rem;
    color: rgb(228, 95, 183);
    font-size: 2rem;

    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-style: normal;

}

#inicio p {

    color: aliceblue;
    font-size: 1.3rem;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.container {

    position: relative;
    width: 280px;
    height: 280px;
    animation: flutuar 3s ease-in-out infinite;




}

.container:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;

}

.frente img,
.frente,
.tras,
.tras img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 3px rgb(134, 133, 133);

    backface-visibility: hidden;
}

.tras {
    transform: rotateY(180deg);
    background: linear-gradient(rgb(147, 147, 231), rgb(243, 137, 243), rgb(198, 198, 255));
}

.curriculo {
    margin-top: 1.5rem;
    background-color: rgba(196, 2, 255, 0.459);
    padding: 0.7rem;
    border-radius: 11px;
    box-shadow: 0 0 8px rgba(255, 192, 203, 0.212);

}

.curriculo a {
    color: aliceblue;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.curriculo a:hover {
    text-decoration: underline;


}

#sobre {
    max-height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

#sobre h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;

    margin-bottom: 30px;
}

#sobre .text-sobre p {
    padding: 7rem;
    text-align: center;

    border: solid rgb(155, 152, 152) 1px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.03);

    color: aliceblue;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-size: 1.5rem;
    box-shadow: 0 0px 10px rgba(229, 228, 233, 0.404);
}

.experiencia {
    margin-top: 3rem;
}


#projetos {
    min-height: 100vh;
}

#projetos h1 {
    max-height: 100vh;
    margin-top: 20rem;
    margin-bottom: 7rem;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: aliceblue;
    text-align: center;
}

.box-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    overflow: hidden;
    transition: all .4s ease;
    cursor: pointer;


}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    transition: .5s;
}

.img-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.text-card {
    padding: 1rem;

}



.text-card h2 {
    color: aliceblue;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
    margin-bottom: 10px;
}

.text-card p {
    color: rgb(220, 220, 220);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    line-height: 1.5rem;
}



#contatos-desk h1 {
    color: aliceblue;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }
}


#contatos-desk {
    margin-bottom: 50px;
}

#contatos-desk h2 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: aliceblue;
    text-align: center;

    margin-top: 150px;
    margin-bottom: 50px;
}

@keyframes flutuaricons {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15%);
    }
}


#contatos-desk ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    position: relative;
    animation: flutuaricons 3s ease-in-out infinite;

}

#contatos-desk li {
    width: 80px;
    height: 80px;
    background-color: rgba(20, 18, 18, 0.589);
    box-shadow: 0 0 10px rgba(255, 192, 203, 0.274);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: .3s;
}

#contatos-desk li:hover {
    width: 180px
}

#contatos-desk li span {
    position: absolute;
}

#contatos-desk li .icon {
    color: aliceblue;
    font-size: 2.2em;
    transition: .3s;
    transition-delay: .1s;
}

#contatos-desk li .text {
    color: aliceblue;
    font-size: 20px;
    transform: scale(0);
    transition: .3s;
}

#contatos-desk li:hover .text {
    transform: scale(1);
}

#contatos-desk li:hover .icon {
    transform: scale(0);

}

#contatos-desk li::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to top right, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
    transition: opacity .3s;
    position: absolute;
}

#contatos-desk li:hover::before {
    opacity: 1;
}

#contatos-desk {
    display: block;
}

#contatos-mob {
    display: none;
}



/* --------for mobile------- */

@media only screen and (max-width: 600px) {


    .formas span {
        width: 10px;
        height: 10px;
    }

    i#burguer {
        color: #ffffff;
        font-size: 4rem;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        z-index: 10;
        display: block;
    }

    #menu {
        display: none;

    }

    #menu ul {

        position: fixed;
        width: 350px;
        z-index: 10;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        margin: 60px 23px;
        background-color: rgba(75, 74, 74, 0.356);
        backdrop-filter: blur(10px);
        padding: 15px;
        border-radius: 20px;

    }

    #menu li a {

        color: #ffffff;
        text-decoration: none;
    }

    #cabecalho #menu-desk {
        display: none;
    }



    #sobre {
        width: 100%;
        height: auto;
    }

    #sobre .text-sobre p {
        font-size: 1.5rem;
        padding: 20px;
        text-align: center;
    }



    /* ----contatos mobile----- */

    #contatos-desk {
        display: none;
    }

    #contatos-mob {
        display: block;
    }

    #contatos-mob h1 {

        color: aliceblue;
        font-family: "Audiowide", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 45px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
    }

    #contatos-mob ul {
        font-size: 2.5rem;
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        list-style: none;

    }

    #contatos-mob li {
        color: aliceblue;
        margin: 0 auto;
    }

}